body {
    /* display: flex; */
    background-color: #0B2447 !important;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    color: #fff !important;
}

/* KEY-INFO */
.key-info-container {
    margin-top: 2%;
}

.key-info {
    background-color: #123C76;
    margin: 1%;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 0 0 #2D8BBA;
    transition: box-shadow 1s;
}

.key-info p {
    margin: 2px !important;
}

/* GRAPHICAL INFO */
.graphical-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2% 0;
}

.graphical {
    margin: 4px;
    transition: 1s ease-in-out;
    padding: 0 !important;
}


/* GRAPHICAL SELECTIONS */
.dropdown {
    background-color: #123C76;
    color: #fff;
    margin: 1%;
    border-radius: 20px;
    font-size: 12px;
    border-color: #123C76;
}

.dropdown-button {
    background-color: #123C76;
    color: #fff;
    margin: 1%;
    border-radius: 20px;
    font-size: 12px;
    border-color: #123C76;
}

/* FUN-STATS */
.fun-stats-images {
    max-height: 100px;
    width: auto;
}

.fun-stats {
    background-color: #123C76;
    margin: 1%;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0 0 0 #2D8BBA;
    transition: box-shadow 1s;
}

/* HOVER EFFECTS */
.key-info:hover {
    animation: pulse 1.5s infinite;
    transform: scale(1.7);
}

.fun-stats:hover {
    animation: pulse 1.5s infinite;
    transform: scale(1.7);
}

.chart_1:hover {
    transform: scale(1.5);
    transform-origin: left center;
}

.chart_2:hover {
    transform: scale(1.5);
    transform-origin: right center;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px #2D8BBA;
    }
    50% {
        box-shadow: 0 0 15px #2D8BBA;
    }
    100% {
        box-shadow: 0 0 5px #2D8BBA;
    }
}