body {
    /* display: flex; */
    background-color: #0B2447 !important;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    color: #fff !important;
}

a {
    color: #fff;
    text-decoration: none
}

.home-button-container {
    margin-top: 1%;
}

.home-button {
    background-color: #2D8BBA;
    margin: 1%;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 2%;
}

/* KEY-INFO */
.key-info-container {
    margin-top: 1%;
}

.key-info {
    background-color: #123C76;
    margin: 1%;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 0 0 #2D8BBA;
    transition: box-shadow 1s;
}

.key-info p {
    margin: 2px !important;
}

.key-info-container .icon {
    padding: 5%;
}
/* GRAPHICAL INFO */
.graphical-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.graphical {
    margin: 4px 0;
    transition: 1s ease-in-out;
    padding: 0 !important;
}

.chart_1 {
    overflow: visible;
}

/* GRAPHICAL SELECTIONS */
.dropdown {
    background-color: #123C76;
    color: #fff;
    margin: 1%;
    border-radius: 20px;
    font-size: 12px;
    border-color: #123C76;
}

.dropdown-button {
    background-color: #123C76;
    color: #fff;
    margin: 1%;
    border-radius: 20px;
    font-size: 12px;
    border-color: #123C76;
}

/* FUN-STATS */
.fun-stats-images {
    max-height: 100px;
    width: auto;
}

.fun-stats {
    background-color: #123C76;
    margin: 1%;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0 0 0 #2D8BBA;
    transition: box-shadow 1s;
}


/* FOOTER */
.footer-row p {
    margin-bottom: 8px !important;
}

.footer-icon {
    padding: 1% 1% 0 1%;
}

#footer {
    font-size: 12px;
}


/* HOVER EFFECTS */
@media screen and (min-width: 768px) {
    .key-info:hover {
        animation: pulse 1.5s infinite;
        transform: scale(1.7);
    }

    .fun-stats:hover {
        animation: pulse 1.5s infinite;
        transform: scale(1.3);
    }

    .chart_1:hover {
        transform: scaleX(1.8) scaleY(1.5);
        transform-origin: left center;
    }

    .chart_2:hover {
        transform: scale(1.5);
        transform-origin: right center;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px #2D8BBA;
    }
    50% {
        box-shadow: 0 0 15px #2D8BBA;
    }
    100% {
        box-shadow: 0 0 5px #2D8BBA;
    }
}