body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0B2447;
}

.upload-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
    width: 10%;
}

.upload {
    border-radius: 20px;
    background-color: #2D8BBA;
    text-align: center;
    width: 120%;
}

.form-label {
    width: fit-content;
}

