<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_styles.css') }}">
    

</head>
 <body>
    <!-- FOOTER -->
    <section id="footer">
        <div class="footer container footer-container">
            <div class="row footer-row">
                <div class="col">
                    <p>{{ footer_info[0] }} - Eduardo Olmos</p>
                </div>
            </div>
    
            <div class="row footer-row">
                <div class="col">
                    <a href='https://www.linkedin.com/in/olmosedward/' target="_blank" class="footer-icon">
                        <i class="fa-brands fa-linkedin fa-xl"></i>
                    </a>
    
                    <a href='https://github.com/BigEd12' target="_blank" class="footer-icon">
                        <i class="fa-brands fa-github fa-xl"></i>
                    </a>
    
                    <a href='mailto:olmos.edward@gmail.com' target="_blank" class="footer-icon">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</body>